@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&family=Oleo+Script:wght@400;700&family=Pacifico&family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

:root {
  --color-header: #ffffff;
  --color-primary: #f3b08e; 
  --color-secundary:#ffffff;
  --color-third: #da6415;
  --color-texto: #1b1a1a;

}

body {
  min-width: 400px;
  background-color: var(--color-primary);
  color: var(--color-texto);
}

/*ENCABEZADO*/
.header {
  background: var(--color-header);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 5px 5%;
  z-index: 100;
  width: 100%;
  position: fixed;
  box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.07);
}

.header .logo {
  cursor: pointer;
  margin-right: auto;
  transition: all 0.3s;
}

.header .logo a {
  text-decoration: none;
  font-size: 38px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  background: var(--color-third);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 70px;
  width: auto;
}

.header .logo:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
  
}
.header .nav-links button {
  all: unset;
  font-size: 25px;
  background: var(--color-third);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease 0s;
}
.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .search-bar {
  margin-left: 20px;
  padding: 10px;
  height: 30px;
  outline: none;
  border-radius: 8px;
  border: #e68224 solid 1px;
  transition: all 0.3s ease 0s;
}
.header .search-bar:hover, .header .search-bar:focus, .header .search-bar:not(:placeholder-shown) {
  border: #fd8f45 solid 2px;
}

.header .nav-links li:hover,
.overlay a:hover, .menu button:hover, .perfil-header:hover  {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.header .nav-links a {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-decoration: none;
  background: var(--color-third);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease 0s;
}

.perfil-header{
  border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
  object-position: center;
  margin-right: 10px;
  transition: all 0.3s ease 0s;
  }
  
  .menu {
    display: none;
  }
  
  .menu button{
    all: unset;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    margin-left: 5px;
    transition: all 0.3s ease 0s;
  }
  .menu button:hover{
    color: #fd8f45;
  }
  @media (max-width: 765px) {
  
    .nav-links {
      display: none;
    }
  
    .menu {
      display: inherit;
    }
  }
  
  .header a {
    text-decoration: none;
  }
  
  .header .overlay {
    /*MENU RESPONSIVE*/
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, rgba(19, 86, 203, 1) 0%, rgb(20, 165, 194) 100%);
    overflow: hidden;
    transition: all 0.3s ease 0s;
  }
  
  .header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease 0s;
  }
  
  .header .overlay a:hover,
  .header .overlay a:focus {
    color: #fd8f45;
  }
  
  .header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
  }
  
  @media screen and(max-height:450px) {
    .header .overlay .a {
      font-size: 20px;
    }
  
    .header .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  #resultados {
  display: none;
  border-radius: 10px ;
  width: 213px;
  background-color: var(--color-secundary);
  box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.16);
  padding: 10px;
  margin-top: 10px;
  max-height: 30rem;
  overflow-y:scroll;
  overflow-y: auto;
  position: fixed;
  top: 2.1rem;
}

#resultados .perfilresultados {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
  padding-bottom: 10px;
}

#resultados .foto-perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
}

#resultados .info-perfil a {
  font-size: 14px;
  text-decoration: none;
  color:var(--color-texto);
}
#resultados::-webkit-scrollbar{
  background-color: var(--color-secundary);
}
/*ENCABEZADO FIN*/
/*BODY*/
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    height: auto;
    position: relative
}

.left-column,
.right-column {
    float: left;
    width: 19%;
    height: auto;
    max-height: 100vh;
    position: fixed;

}

.left-column {

    background-color: var(--color-secundary);
    /* *Fondo blanco para las publicaciones */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.16);
    margin-top: 75px;
    height: 85vh;
    left: 1%;
    overflow-y:scroll;
}
#mensajes::-webkit-scrollbar, .left-column::-webkit-scrollbar, .right-column::-webkit-scrollbar {
  display: none; /* Color del fondo */
}

.right-column {

    background-color: var(--color-secundary);
    /* Fondo blanco para las publicaciones */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.16);
    margin-top: 75px;
    height: 85vh;
    right: 1%;
    overflow-y:scroll;
}

.main-content {
    /* Fondo blanco para las publicaciones */
    padding: 15px;
    margin-top: 60px;
    width: 60%;
    position: relative;
    left: 20%;

}

.mensajes {
    width: 100%;
    height: 63vh;
    background-color: rgb(224, 237, 255);
    padding: 10px;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.16);
}

.chat-header {
  background-color: var(--color-third);
    padding: 4px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.chat-header img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.chat-header p{
font-size: 20px;
color: white;
}
#mensajes{
  height: 65vh;
  background-color: var(--color-secundary); 
  padding: 5px 10px;
  overflow-y:scroll;
  display: flex;
  flex-direction: column;
}
.mensaje {
  max-width: 55%; /* El mensaje no será más ancho que el 60% del chat */
  word-wrap: break-word; /* Divide las palabras largas automáticamente */
  overflow-wrap: break-word; /* Más compatibilidad */
  white-space: pre-wrap; /* Permite saltos de línea y espacios */
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  display: inline-block; /* Ajusta el tamaño del mensaje al contenido */
  font-size: 14px;
  
}
.mensaje img{
  width: 100%;
  display: block;
}

/* Mensajes enviados por el usuario actual */
.mensaje-propio {
  background-color:#da7837; /* Verde claro */
  align-self: flex-end;
  text-align: right;
  border: 1px solid #75411e;
  font-size: 16px;
}


/* Mensajes recibidos */
.mensaje-ajeno {
  background-color: #ccc8c6; /* Rojo claro */
  align-self: flex-start;
  text-align: left;
  border: 1px solid #5a5957;
  font-size: 16px;
}
.enviarMensaje {
    width: 100%;
    height: auto;
    background: var(--color-third);
    padding: 10px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.enviarMensaje form{
  display: flex;
}

.input-mensaje{
  display: block;
  width: 87%;
  height: 2.7rem;
  background-color: #fff;
  font-size: 18px;
  border-radius: 10px;
 
  padding: 10px;
  outline: none;
  resize: unset;
  margin-right: 10px;
}

.enviarMensaje button {
    width: 10%;
    height: 2.6rem;
    border: none;
    background: transparent;
    transition: all 0.3s;
}
.enviarMensaje i{
    font-size: 40px;
    color: #ffffff;
}
.enviarMensaje button:hover{
  transform: scale(1.2);
  transition: all 0.3s ease 0s;
}

.eliminar-mensaje {
  background: rgb(109, 11, 11);
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
}

.eliminar-mensaje:hover {
  background: darkred;
}
@media (max-width: 768px) {

    .left-column,
    .right-column {
        display: none;
    }

    .main-content {
        width: 100%;
        left: 0%;
    }

    .post-create .buttons-create-post {
        width: 60%;
    }

}
.configuration{
  display: none;
  border-radius: 10px ;
  background-color: var(--color-secundary);
  box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.16);
  padding: 10px;
  margin-top: 10px;
  max-height: 50rem;
  overflow-y: auto;
  position: fixed;
  top: 2.3rem;
  right: 18%;
}
.configuration li{
  list-style: none;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.configuration a{
  color:var(--color-texto);
  font-size: 18px;
 
}
  .configuration a:hover {
    color: #fd8f45;
    transition: all 0.3s ease 0s;
  }
  .lista-notificaciones{
     display: none;
  border-radius: 10px ;
  box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.16);
  background-color: var(--color-secundary);
  color: var(--color-texto);
  padding: 10px;
  margin-top: 10px;
  max-height: 50rem;
  overflow-y: auto;
  position: fixed;
  top: 2.3rem;
  right: 25%;
  }
  .chat-item{
    margin-top: 10px;
    background: var(--color-third);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
    position: relative;
  }
  .chat-item:hover{
    background-color: #8f5026;
    transform: scale(1.01); 
  }
  .grupo-item{
    position: relative;
    margin-top: 10px;
    background-color: var(--color-third);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
  }
  .grupo-item:hover{
    background-color: #8f5026;
    transform: scale(1.01); 
  }
  .grupo-item p, .grupo-item span {
    color: white;
  }
  .ultimo-mensaje-novisto {
    display: block; /* o inline-block */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    font-size: 16px;
    color: rgb(22, 107, 11);
  font-weight: 600;
}
.ultimo-mensaje-visto {
  display: block; /* o inline-block */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
  font-size: 16px;
  color: rgb(247, 247, 247);

}
  .conversaciones a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    text-decoration: none;
    color: #1c1e21;
  }
  .conversaciones a p{
    margin-left: 3px;
    color: #fff;
    font-weight: 600;
  }
  .conversaciones img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
  }
  .grupos img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
  }
  .grupos a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    text-decoration: none;
    color: #1c1e21;
  }
  .grupo a p{
    margin-left: 3px;
    color: #fff;
    font-weight: 600;
  }
  .label-button{
    display: inline-block;
    padding: 0px 5px;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease 0s;
  margin-right: 10px;
  }
  .label-button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
  .file-input, .image-input{
    display: none;
  }

  .archivo-adjunto {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    color: #000000;
}

.archivo-adjunto i {
    font-size: 24px;
}

.boton-descargar {
  background: var(--color-texto);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
}

.boton-descargar:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.contenidoArchivo{
  display: none;
    border-radius: 10px ;
    max-width: 340px;
    overflow-y: auto;
    padding: 10px;
    background-color: var(--color-secundary);
    position: fixed;
    top: 78%;
    right: 65%;
    text-align: center;
    color: var(--color-texto);
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.16);
}

.cerrarArchivo{
  cursor: pointer;
  font-size: 20px;
}
.agregarGrupo{
  display: none;
  position: fixed;
  top: 30%;
  right: 35%;
  left: 35%;
  border-radius: 10px ;
  box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.16);
   border: #000000 solid 2px;
  background-color: var(--color-secundary);
  padding: 10px;
    height: auto;
}
.agregarGrupo form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agregarGrupo form label{
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
}
.agregarGrupo form input{
  border-radius: 10px;
  border: var(--color-third) solid 2px;
}
#nombregrupo{
  height:1.5rem ;
  padding: 2px 5px;
  font-size: 16px;
  text-align: center;
  width: 80%;
}
#listaUsuarios{
  overflow-y:scroll;
  height: 4.5rem;
  margin-bottom: 5px;
}
.agregarGrupo form button{
  width: 9rem;
  font-size: 18px;
  background: var(--color-third);
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  border: none;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
  margin-top: 10px;
}
.agregarGrupo form button:hover{
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
.eliminar-chat-btn{
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.eliminar-chat-btn:hover{
  color: red;
}
.info-grupos{
  display: none;
  height: 85vh;
  padding: 10px;
  background-color: var(--color-secundary);
  border-radius: 8px;
}
#chat-box{
  display: block;
}
.headerGrupo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerGrupo img{
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 50px;
  height: 50px;
}
.headerGrupo hr{
  background-color: #cfcfcf;
  margin-top: 5px;
  border: none;
  height: 2px;
  width: 100%;
}
.headerGrupo button{
  all: unset;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  background: var(--color-third);
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}
.headerGrupo button:hover{
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.botonesGrupo{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#btn-invitar{
  padding: 5px 15px;
  background: var(--color-third);
  color: white;
  font-family: "Bebas Neue", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: all 0.3s ease 0s;
  border: none;
  margin-right: 45px;
}

#btn-invitar:hover{
  transform: scale(1.1);
}
.integrantesGrupo{
  display: flex;
  width: 100%;
}
#lista-miembros{
  background-color: var(--color-secundary);
  width: 50%;
  height: 45vh;
  padding: 10px;
  overflow-y:scroll;
  border-radius: 10px;
  border: 1px solid var(--color-third);
}
#lista-archivos{
   background-color: var(--color-secundary);
  width: 50%;
  height: 45vh;
  padding: 10px;
  overflow-y:scroll;
  border-radius: 10px;
  border: 1px solid var(--color-third);
}
#lista-archivos a:hover{
  color: var(--color-third);
  transform: scale(0.9);
}

.miembro{
  display: flex;
 justify-content: flex-start;
 align-items: center;
 margin-bottom: 10px;
}
.miembro:hover{
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.miembro a{
  text-decoration: none;
  color: var(--color-texto);
  display: flex;
  align-items: center;
}
.miembro img{
  border-radius: 50%;
      width: 35px;
      height: 35px;
      object-fit: cover;
    object-position: center;
}
.infoHeader{
  align-items: center;
  width: 100%;
  justify-content:space-around ;
  display: flex;
  padding: 10px;
}
#modal-invitar{
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 30%;
  right: 35%;
  left: 35%;
  border-radius: 10px ;
   border: #000000 solid 2px;
  box-shadow:
  0 0px 25px 10px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: var(--color-secundary);
  padding: 10px;
    height: auto;
}
#modal-invitar button{
  padding: 5px;
  background: var(--color-third);
  color: white;
  font-family: "Bebas Neue", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: all 0.3s ease 0s;
  border: none;
  margin-right: 45px;
}

.left-column{
  animation: slideInLeft 0.3s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

.chat-header {
    animation: fadeInDown 0.3s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
.enviarMensaje {
    animation: fadeInUp 0.3s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
#mensajes {
    animation: fadeInUp 0.2s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
.right-column {
    animation: slideInRight 0.3s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
.agregarGrupo {
    animation: fadeInUp 0.3s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
@keyframes slideInLeft {
    from {
      transform: translateX(-50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fadeInDown {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }